$font: 'Roboto', sans-serif;

$black_blue: #121920;
$dark_grey: #768298;
$medium_grey: #BBC4D6;
$light_grey: #EBEBF1;
$light_red: #F95A59;
$pink: #F95A59;
$violet: #A7507B;
$blue: #6680AE;
$light_blue: #34AADD; 
$white: #ffffff;

$titleFontSize: 2.5vw; //36px
$mediumFontSize: 1.25vw; // 18px
$smallFontSize: 1.11vw; // 16px
$commonFontSize: 1vw; //14px

body {
    display: block;
    margin: 0;
    padding: 0;
    content: '';
    font-family: $font;
}

.container {
    width: 80%;
    margin: 0 auto;
    padding: 0% 2%;
}

.button {
    padding: 1.2% 3%;
    border-radius: 5px;
    text-decoration: none;
    font-size: 1vw;
    font-weight: 500;

    &_colored {
        background-color: $light_blue;
        color: $white;
        transition: .5s;
    }

    &_colored:hover {
        background-color: $blue;
    }

    &_colored:active {
        opacity: 0.5;
    }

    &_bordered {
        background-color: transparent;
        color: $light_blue;
        border: 1px solid $light_blue;
        transition: .5s;
    }

    &_bordered:hover {
        border: 1px solid $blue;
        color: $blue;
    }

    &_bordered:active {
        opacity: 0.5;
    }

    &__content{
        p {
            display: inline;
            margin-right: 1%;
        }
    }
}

.title {
    font-size: $titleFontSize;
    color: $black_blue;
    font-weight: 500;
    margin-bottom: 4%;
}

.header {

    box-shadow: 0px 3px 10px rgba(0, 0, 0, 0.05);

    .logo img {
        width: 9.5vw;
        height: 2.5vw;

    }

    &__wrapper {
        display: flex;
        justify-content: space-between;
        align-items: center;
        padding: .3% 0%;
    }

    &__navigation {
        padding: .35% 0%;
        &__wrapper {
            padding: 0%;

            li {
                display: inline;
                margin-right: 4%;

                .link {
                    font-size: $mediumFontSize;
                    text-decoration: none;
                    color: $dark_grey;
                    transition: 0.5s;
                }

                .link:hover {
                    color: $light_blue;
                }

                .link:active {
                    opacity: 0.5;
                }
                
                .active {
                    color: $light_red;
                }
            }
        }
    }

    &__search_form {
        max-width: 50%;
        width: 100%;
        position: relative;

        .text_box {
            padding: 1.5% 4%;
            width: 100%;
            border-radius: 5px;
            border-color: transparent;
            background-color: #FAFAFA;
            font-size: $commonFontSize;
        }

        .text_box:hover {
            outline: 1px solid #768298;
        }

        .text_box::-webkit-input-placeholder {
            color: #BBC4D6;
        }

        .search_button {
            position: absolute;
            top: 20%;
            right: -5%;
            border-color: transparent;
            background-color: #FAFAFA;
            color: #BBC4D6;
            font-size: $commonFontSize;
        }
    }

    &__contact{
        font-size: 1.25vw;

        .phone {
            color: $black_blue;
            text-decoration: none;
            transition: .5s;
        }

        .phone:hover {
            color: $light_blue;
        }

        span {
            display: block;
            font-size: $commonFontSize;
            color: $medium_grey;
        }
    }

    .divider {
        border: 1px solid $light_grey;
        margin: 0;
    }
}

.popular_goods {
    padding: 5.2% 0%;

    .content_wrapper {
        display: flex;
        justify-content: space-between;
        margin-bottom: 5%;

        .goods {
            position: relative;
            max-width: 110vw;
            width: 100%;
            height: 25vw;
            border: 1px solid $light_grey;
            border-radius: 6px;
            margin-right: 1.7vw;

            &__header {
                width: 100%;
                max-height: 45%;
                height: 100%;

                &__tags {
                    position: absolute;
                    width: 100%;
                    z-index: 1;
                    margin: 3%;

                    .tag {
                        padding: 1.5% 3%;
                        text-decoration: none;
                        color: $white;
                        margin-right: .01vw;
                        font-size: $commonFontSize;
                        border-radius: 3px;

                        &_red {
                            background-color: $pink;
                        }

                        &_yellow {
                            background-color: #FAC300;
                        }

                        &_purple {
                            background-color: $violet;
                        }
                    }
                }

                &__photo {
                    position: relative;
                    max-height: 100%;
                    height: 100%;
                    width: 100%;
                }
            }

            &__body {
                padding: .6vw;
            }

            &__title {
                margin: 0;
                font-size: $mediumFontSize;
                font-weight: 500;
                color: $black_blue;

                .link {
                    color: $black_blue;
                    text-decoration: none;
                    transition: .5s;
                }

                .link:hover {
                    color: $light_blue;
                }

                .link:active {
                    opacity: 0.5;
                }
            }

            &__teaser {
                font-size: $commonFontSize;
                color: $dark_grey;
                line-height: 160%;
                margin: .2vw 0vw 0vw 0vw;
            }

            &__footer {
                width: 100%;
                position: absolute;
                bottom: 0;
                display: flex;
                align-items: flex-end;
                justify-content: space-between;
                padding: 0vw .6vw .6vw .6vw;
            }

            &__price {
                .common_price {
                    position: relative;
                    margin: 0;
                    font-size: $commonFontSize;
                    color: $dark_grey;
                }

                .discount_price {
                    margin: 0;
                    margin-top: 1px;
                    font-size: $smallFontSize;
                    font-weight: 700;
                    color: $black_blue;
                }

                .common_price::after {
                    content:"";
                    display:block;
                    position:absolute;
                    left:0;
                    top:35%;
                    color:$light_red;
                    width:80%;
                    height:0;
                    border-bottom:2px solid $light_red;
                    transform:rotate(30deg);
                }
            }

            &__cart {
                padding: .9vw;
                margin-right: 1.2vw;
                font-size: $mediumFontSize;
            }
        }
    }
}